<!--<ngx-extended-pdf-viewer
  [showSecondaryToolbarButton]="false"
  [mobileFriendlyZoom]="'true'"
  pageViewMode="book"
  src="/assets/docs/catalogue.pdf"
  [zoom]="'85%'"
  [height]="'100vh'"
  [showHandToolButton]="false"
>
</ngx-extended-pdf-viewer>-->

<!-- ======================== MOBILE ======================== -->
<!-- https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues/1565 -->
<ngx-extended-pdf-viewer
  class="pdfc"
  [showSecondaryToolbarButton]="false"
  [mobileFriendlyZoom]="'true'"
  pageViewMode="single"
  src="/assets/docs/catalogue.pdf"
  [zoom]="'page-fit'"
  [height]="'auto'"
  [spread]="'off'"
  [scrollMode]="1"
  [showHandToolButton]="false"
>
</ngx-extended-pdf-viewer>

<!-- TODO: corregir el width. -->

<!-- zoom:
  page-fit: se alcanza a ver todo el libro, pero queremos un pequeño espacio en bottom.
  page-auto: se corta el libro en bottom.
  page-width: desaparece el libro.
  auto: se corta el libro en bottom.
  *'90%': funciona bien en escritorio.
 -->

<!-- showBorders: 
  true: se ve feo. se deforma
  false: por defecto.
-->

<!-- showSecondaryToolbarButton: muestra el menó desplegable para abrir, imprimir, guardar, etc. Se ve cortado en móvil.
 -->
<!-- mobileFriendlyZoom: hacer que los botones de interfaz se vean mas grandes en mobile. -->

<!-- height: 100% por defecto
 -->

<!-- scrollMode (default: 0): en book mode solo sirve 0 o 2. No afecta en nada. -->
