<!--<div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="flipbook">
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/01.jpg"
            draggable="false"
            alt=""
          />
        </div>
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/02.jpg"
            draggable="false"
            alt=""
          />
        </div>
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/03.jpg"
            draggable="false"
            alt=""
          />
        </div>
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/04.jpg"
            draggable="false"
            alt=""
          />
        </div>
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/05.jpg"
            draggable="false"
            alt=""
          />
        </div>
        <div class="page">
          <img
            src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/06.jpg"
            draggable="false"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="container">
  <div>
    <button type="button" class="btn-prev" (click)="previousPage()">
      Previous page
    </button>
    [<span class="page-current">{{ currentPage }}</span> of
    <span class="page-total">{{ totalPages }}</span
    >]
    <button type="button" class="btn-next" (click)="nextPage()">
      Next page
    </button>
  </div>

  <div>
    State: <i class="page-state">{{ pageState }}</i
    >, orientation:
    <i class="page-orientation">{{ pageOrientation }}</i>
  </div>
</div>-->

<!--
<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
  "
>
  <div class="flip-book" id="demoBookExample" #demoBookExample>
    <div class="page page-cover page-cover-top" data-density="hard">
      <div class="page-content">
        <h2>BOOK TITLE</h2>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page header 1</h2>
        <div
          class="page-image"
          style="background-image: url(images/html/1.jpg)"
        ></div>
        <div class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus
          mollis nibh, non convallis ex convallis eu. Suspendisse potenti.
          Aenean vitae pellentesque erat. Integer non tristique quam.
          Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra
          metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus,
          accumsan eros sed, viverra enim. Pellentesque non justo vel nibh
          sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. In cursus mollis nibh, non convallis ex
          convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat.
          Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin
          mollis, eros velit viverra metus, a venenatis tellus tellus id magna.
        </div>
        <div class="page-footer">2</div>
      </div>
    </div>

    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page header - 15</h2>
        <div
          class="page-image"
          style="background-image: url(images/html/7.jpg)"
        ></div>
        <div class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus
          mollis nibh, non convallis ex convallis eu. Suspendisse potenti.
          Aenean vitae pellentesque erat. Integer non tristique quam.
          Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra
          metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus,
          accumsan eros sed, viverra enim. Pellentesque non justo vel nibh
          sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. In cursus mollis nibh, non convallis ex
          convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat.
          Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin
          mollis, eros velit viverra metus, a venenatis tellus tellus id magna.
        </div>
        <div class="page-footer">16</div>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page header - 16</h2>
        <div
          class="page-image"
          style="background-image: url(images/html/8.jpg)"
        ></div>
        <div class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus
          mollis nibh, non convallis ex convallis eu. Suspendisse potenti.
          Aenean vitae pellentesque erat. Integer non tristique quam.
          Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra
          metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus,
          accumsan eros sed, viverra enim. Pellentesque non justo vel nibh
          sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. In cursus mollis nibh, non convallis ex
          convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat.
          Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin
          mollis, eros velit viverra metus, a venenatis tellus tellus id magna.
        </div>
        <div class="page-footer">17</div>
      </div>
    </div>
    <div class="page page-cover page-cover-bottom" data-density="hard">
      <div class="page-content">
        <h2>THE END</h2>
      </div>
    </div>
  </div>
</div>
-->

<p-sidebar [(visible)]="sidebarVisible" styleClass="w-15rem">
  <ng-template pTemplate="header">
    <h4>Miniaturas</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <div
      style="
        overflow: auto;
        height: auto !important;
        border: 0;
        margin: 0;
        padding: 0;
      "
    >
      <div
        style="
          height: auto !important;
          margin: 0;
          cursor: pointer;
          width: 100%;
          position: relative;
          text-align: center;
        "
      >
        <div
          style="
            border: none;
            margin: 0;
            padding: 8px;
            border-radius: 3px;
            transition: 0.2s background;
            border: 1px solid red;
          "
        >
          <!--<div
            style="
              background-image: url(assets/images/thumbnails/page1.png);
              height: 100%;
              background-size: 100%;
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
              border: 0;
              margin: 0;
              padding: 0;
              text-align: center;
              cursor: pointer;
            "
          ></div>-->
          <p-image
            src="assets/images/thumbnails/page1.png"
            alt="Image"
            height="100%"
          ></p-image>
        </div>
      </div>
    </div>
  </ng-template>
  <!--<ng-template pTemplate="content">Body Content</ng-template>
  <ng-template pTemplate="footer">Footer Content</ng-template>-->
  <!--<h3>Miniaturas</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>-->
</p-sidebar>

<div
  *ngIf="currentPage != 1"
  (click)="previousPage()"
  class="navigation"
  style="
    left: 0;
    top: 50%;
    margin-top: -50px;
    position: absolute;
    opacity: 0.8;
    height: 100px;
    font-size: 36px;
    width: 50px;
    z-index: 2;
    cursor: pointer;
  "
>
  <div
    style="
      left: 10px;
      height: initial;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      padding: 15px 5px;
      width: auto;
      font-size: inherit;
      background-color: transparent !important;
    "
  >
    <i class="pi pi-chevron-left" style="font-size: 1.8rem"></i>
  </div>
</div>

<div
  (click)="nextPage()"
  class="navigation"
  style="
    right: 0;
    top: 50%;
    margin-top: -50px;
    position: absolute;
    opacity: 0.8;
    height: 100px;
    font-size: 36px;
    width: 50px;
    z-index: 2;
    cursor: pointer;
  "
>
  <div
    style="
      right: 10px;
      height: initial;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      padding: 15px 5px;
      width: auto;
      font-size: inherit;
      background-color: transparent !important;
    "
  >
    <i class="pi pi-chevron-right" style="font-size: 1.8rem"></i>
    <!--<p-button
      icon="pi pi-chevron-right"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      size="large"
    ></p-button> -->
  </div>
</div>
<!--<input type="text" pInputText value="8 - 9" />
  <p-inputGroupAddon>/ 19</p-inputGroupAddon>-->
<!-- shadow-2  -->
<!--<p-inputGroup>
  <p-inputMask
    mask="1-2"
    value="999999"
    placeholder="(999) 999-9999"
  ></p-inputMask>

  <button
    pButton
    icon="pi pi-list"
    tooltipPosition="top"
    pTooltip="Tabla de contenido"
    (click)="sidebarVisible = true"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-th-large"
    tooltipPosition="top"
    pTooltip="Miniaturas"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-plus-circle"
    tooltipPosition="top"
    pTooltip="Acercar"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-minus-circle"
    tooltipPosition="top"
    pTooltip="Alejar"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-expand"
    tooltipPosition="top"
    pTooltip="Pantalla completa"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-share-alt"
    tooltipPosition="top"
    pTooltip="Compartir"
    severity="secondary"
  ></button>

  <button
    pButton
    icon="pi pi-ellipsis-h"
    (click)="op.toggle($event)"
    severity="secondary"
  ></button>
</p-inputGroup> -->

<!--   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); -->
<p-buttonGroup
  style="
    bottom: 10px;
    width: max-content;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    margin: 0 auto;
    display: flex;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    vertical-align: top;
    text-align: center;
    padding: 0;
    user-select: none;
    z-index: 4;
  "
>
  <button
    pButton
    [label]="pageLabel + '/' + totalPages"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-list"
    tooltipPosition="top"
    pTooltip="Tabla de contenido"
    (click)="sidebarVisible = true"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-th-large"
    tooltipPosition="top"
    pTooltip="Miniaturas"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-plus-circle"
    tooltipPosition="top"
    pTooltip="Acercar"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-minus-circle"
    tooltipPosition="top"
    pTooltip="Alejar"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-expand"
    tooltipPosition="top"
    pTooltip="Pantalla completa"
    severity="secondary"
  ></button>
  <button
    pButton
    icon="pi pi-share-alt"
    tooltipPosition="top"
    pTooltip="Compartir"
    severity="secondary"
  ></button>

  <button
    pButton
    icon="pi pi-ellipsis-h"
    (click)="op.toggle($event)"
    severity="secondary"
  ></button>
</p-buttonGroup>
<p-overlayPanel
  #op
  [style]="{
    'margin-top': '-7px',
    padding: '0'
  }"
>
  <p-menu
    [model]="items"
    styleClass="ready"
    [style]="{ padding: '0.2rem 0;' }"
  ></p-menu>
</p-overlayPanel>
<!--<div id="flipbook">
  <div class="cover">Turn.js</div>
  <div class="page">Page 1</div>
  <div class="page">Page 2</div>
  <div class="page">Page 3</div>
  <div class="page">Page 4</div>
  <div class="cover">The end</div>
</div>
-->
